main{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
  flex-direction: column;
  text-align: center;
}

.logo {
  max-width: 800px;
  width: 90%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 60px;
}
