.list {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mod {
  display: flex;
  align-items: center;
  width: 570px;
  margin-top: 8px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom left, #252b31a8, #272b36d5);
}

.mod:hover {
  border-radius: 6px;
  background-image: linear-gradient(to top right, #252b31ce, #272b36e5);
}

.mod img {
  max-width: 100%;
  height: auto;
  display: block;
  box-sizing: border-box;
  padding: 12px;
}

.mod h2 {
  color: #fffbf0;
  text-align: justify;
}
.mod p {
  color: #f0feff;
}

.mod-icon {
  height: 96px;
  width: 96px;
  background-size: cover;
  background-image: url('https://raw.githubusercontent.com/MaoDoBan/HyclanStaticSite/refs/heads/main/assets/img/ContainerFullPatch@2x.png');
}

.info {
  margin-left: 12px;
}
